@import url( 'https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url( 'https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url( 'http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic');
@import url( 'https://fonts.googleapis.com/css?family=Exo+2:400,900');
@import url( 'https://fonts.googleapis.com/css?family=Ubuntu:400,700');



@mixin breakpoint($point) {
  @if ($point == lg){
    @media (min-width: 1200px) {
      @content
    }
  }
  @if ($point == md) {
    @media (min-width: 992px) and (max-width: 1199px){
      @content
    }
  }
  @if ($point == sm) {
    @media (min-width: 768px) and (max-width: 991px){
      @content
    }
  }
  @if ($point == xs) {
    @media (max-width: 767px) and (min-width: 641px){
      @content
    }
  }
  @if ($point == xxs) {
    @media (max-width: 640px) and (min-width: 481px){
      @content
    }
  }
  @if ($point == xxs) {
    @media (max-width: 640px) and (min-width: 481px){
      @content
    }
  }
  @if ($point == xxxs) {
    @media (max-width: 480px){
      @content
    }
  }
}

body,
html {
  width : 100%;
  height: 100%;
}

body {
  min-height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue','Helvetica Neue',Arial,sans-serif;
  font-weight: 100;
}
/* Custom Button Styles */

.btn-dark {
  border-radius   : 0;
  color           : #fff;
  background-color: rgba(0,0,0,0.4);
}

.btn-dark:active,
.btn-dark:focus,
.btn-dark:hover {
  color           : #fff;
  background-color: rgba(0,0,0,0.7);
}

.btn-light {
  border-radius   : 0;
  color           : #333;
  background-color: rgb(255,255,255);
}

.btn-light:active,
.btn-light:focus,
.btn-light:hover {
  color           : #333;
  background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
  max-width: 100px;
}


.jumbo {
  width: 100%;
  height: 500px;
  margin-bottom: 0;
  padding: 0;
  overflow:auto;
  background: url('../img/space.jpg') no-repeat center center fixed;
  background-size:cover;

  @include breakpoint(xs) {

  }

  .container-fluid {
    padding: 0;
    height: 400px;

    .top {
      height: 20%;
      height: 20%;
      width : 100%;

      .logo {
        margin                 : auto;
        max-width              : 190px;
        margin-top             : 3em;
        -webkit-animation-delay: 2s;
        animation-delay        : 2s;

        @include breakpoint(xxxs) {
          max-width: 140px;
          margin-top: 1.6em;
        }

      }
      // end logo
    }

    .middle {
      height      : 60%;
      width       : 100%;
      padding     : 0;
      margin-right: 0;
      margin-left : 0;

      .middle-col {
        height    : 100%;
        margin-top: 0;
        padding   : 0;

        h1 {
          font-family  : 'Kaushan Script', cursive;
          color        : #FAFAFA;
          text-shadow  : 2px 2px black;
          padding      : 0;
          font-size    : 4em;
          margin-top   : 0;
          margin-bottom: 0;
          -webkit-animation-delay: 0.5s;
          animation-delay        : 0.5s;
          position  : relative;
          top       : 50%;
          transform : translateY(-50%);


          @include breakpoint(xxxs) {
            font-size: 2em;
          }
        }
      }
    }

    .bottom {
      height: 20%;
      width : 100%;
      margin: 0;

      .bottom-col {
        height : 100%;
        width  : 100%;
        padding: 0;

        .scroll-down-container {
          margin    : auto;
          text-align: center;
          position  : relative;
          top       : 50%;
          transform : translateY(-50%);

          .scroll-down-btn {
            opacity: 0.5;

            .fa-angle-down {
              color: white;
            }

            .icon-background {
              color: black;
            }

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
// end jumbotron

.touch-of-madness {
  padding-right: 0;
  padding-left : 0;

  #touch-of-madness {

    p {
      font-size: 3em;
    }

    h1 {
      font-size: 5em;
    }

    img {
      max-width: 550px;
      margin: auto;

      @include breakpoint(sm) {
        max-width: 200px;
      }
    }

  }

}

.roots-in-auburn {
  width: 100%;
  height: 400px;
  margin-bottom: 0;
  padding: 0;
  overflow:auto;
  background: url('../img/roots.jpg') no-repeat center center fixed;
  background-size:cover;

  h1 {
    font-family  : 'Kaushan Script', cursive;
    color        : #FAFAFA;
    text-shadow  : 2px 2px black;
    padding      : 0;
    font-size    : 4em;
  }
}

.need-to-grow {
  height: 300px;


  .container-fluid {
    padding: 0;
  }

  .row {
    margin: 0;
  }

  h1 {
    font-size: 3em;
    color: black;
    font-weight: bold;
    margin-bottom: .5em;
  }

  h2 {
    font-size: 2.5em;
    color: black;
    font-weight: bold;
    margin-bottom: .5em;
  }

  p {
    font-size: 1.5em;
    text-align: left;
    margin-right: 2em;
    margin-left: 2em;
  }

}

.services {
  height: 300px;
  background: #C1392B;

  .container-fluid {
    padding: 0;
  }

  .row {
    
  }

  .btn-primary {
    background: none;
    padding: 12px 22px;
    border: 2px solid white;
    border-radius: 0;
    color: white;
    margin-top: 1.5em;

      &:hover, &:focus, &:active {
        color: gray;
        border-color: gray;
      }
    }

  i {
    font-size: 6em;
    color: white;
  }

  p {
    font-size: 2em;
    color: white;
  }

}


// end main-container
footer {
  background-color: black;

  .logo-row {
    margin-top   : 2.5em;
    margin-bottom: 2em;

    .logo-col {
      .logo {
        margin    : auto;
        max-width : 250px;
        min-width : 100px;
        max-height: 300px;
      }
    }
  }

  .social-media {
    margin-bottom: 1em;

    .icons {
      .icon {
        min-width : 30px;
        max-height: 75px;
        margin    : auto;
      }
    }
  }
}
