@import url( 'https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url( 'https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url( 'http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic');
@import url( 'https://fonts.googleapis.com/css?family=Exo+2:400,900');
@import url( 'https://fonts.googleapis.com/css?family=Ubuntu:400,700');



@mixin breakpoint($point) {
  @if ($point == lg){
    @media (min-width: 1200px) {
      @content
    }
  }
  @if ($point == md) {
    @media (min-width: 992px) and (max-width: 1199px){
      @content
    }
  }
  @if ($point == sm) {
    @media (min-width: 768px) and (max-width: 991px){
      @content
    }
  }
  @if ($point == xs) {
    @media (max-width: 767px) and (min-width: 641px){
      @content
    }
  }
  @if ($point == xxs) {
    @media (max-width: 640px) and (min-width: 481px){
      @content
    }
  }
  @if ($point == xxs) {
    @media (max-width: 640px) and (min-width: 481px){
      @content
    }
  }
  @if ($point == xxxs) {
    @media (max-width: 480px){
      @content
    }
  }
}

body,
html {
  width : 100%;
  height: 100%;
}

body {
  min-height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue','Helvetica Neue',Arial,sans-serif;
  font-weight: 100;
}
/* Custom Button Styles */

.btn-dark {
  border-radius   : 0;
  color           : #fff;
  background-color: rgba(0,0,0,0.4);
}

.btn-dark:active,
.btn-dark:focus,
.btn-dark:hover {
  color           : #fff;
  background-color: rgba(0,0,0,0.7);
}

.btn-light {
  border-radius   : 0;
  color           : #333;
  background-color: rgb(255,255,255);
}

.btn-light:active,
.btn-light:focus,
.btn-light:hover {
  color           : #333;
  background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
  max-width: 100px;
}

/* Side Menu */
#sidebar-wrapper {
  z-index           : 1000;
  position          : fixed;
  right             : 0;
  width             : 250px;
  height            : 100%;
  margin-right      : -250px;
  overflow-y        : auto;
  background        : #222;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition   : all 0.4s ease 0s;
  -ms-transition    : all 0.4s ease 0s;
  -o-transition     : all 0.4s ease 0s;
  transition        : all 0.4s ease 0s;

  .sidebar-nav {
    position  : absolute;
    top       : 0;
    width     : 250px;
    margin    : 0;
    padding   : 0;
    list-style: none;

    .sidebar-brand {
      height     : 55px;
      font-size  : 18px;
      line-height: 55px;

      a {
        color: #999;

        &:hover {
          color     : #fff;
          background: none;
        }
      }
    }

    li {
      text-indent: 20px;
      line-height: 40px;

      a {
        display        : block;
        text-decoration: none;
        color          : #999;

        &:hover {
          text-decoration: none;
          color          : #fff;
          background     : rgba(255,255,255,0.2);
        }

        &:active,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }


}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

.jumbotron {
  background: linear-gradient(rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.3)),
              url("../img/record.gif") no-repeat center center;
  background-size: 100% 100%;
  height: 100vh;
  margin-bottom: 0;
  padding: 0;

  @include breakpoint(xs) {
    background: linear-gradient(rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.3)),
                url("../img/record-mobile.gif") no-repeat center center;
    background-size: 100% 100%;
  }

  .container-fluid {
    padding: 0;

    .top {
      height: 20%;
      height: 20vh;
      width : 100%;

      .logo {
        margin                 : auto;
        max-width              : 190px;
        margin-top             : 3em;
        -webkit-animation-delay: 2s;
        animation-delay        : 2s;

        @include breakpoint(xxxs) {
          max-width: 140px;
          margin-top: 1.6em;
        }

      }
      // end logo

      .menu-toggle-container {

        @include breakpoint(xxxs) {
          display: inline-block;


        }

        #menu-toggle {
          -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
          margin-right: 2.5em;
          margin-top: 2.5em;
          position: fixed;
          right: 0;
          top: 0;
          z-index: 1;
          text-align: center;

          @include breakpoint(xxxs) {
            width: 30px;
            height: 30px;
            margin-top: 1.5em;
          }

          i {
            float: none !important;
          }
        }
      }

    }

    .middle {
      height      : 60%;
      height      : 60vh;
      width       : 100%;
      padding     : 0;
      margin-right: 0;
      margin-left : 0;

      .middle-col {
        height    : 100%;
        margin-top: 0;
        padding   : 0;

        .jumbotron-header {
          width     : 50%;
          right     : 3em;
          position  : relative;
          top       : 50%;
          transform : translateY(-50%);
          text-align: right;

          @include breakpoint(xxxs) {
            width: 90%;
            right: 1em;
          }

          h1 {
            font-family  : 'Kaushan Script', cursive;
            color        : #FAFAFA;
            text-shadow  : 2px 2px black;
            padding      : 0;
            font-size    : 4em;
            margin-top   : 0;
            margin-bottom: 0;

            &:first-child {
              -webkit-animation-delay: 0.5s;
              animation-delay        : 0.5s;
            }

            &:nth-child(2) {
              -webkit-animation-delay: 10s;
              animation-delay        : 1s;
            }

            @include breakpoint(xxxs) {
              font-size: 2em;
            }
          }

          .subtitle {
            color        : white;
            font-size    : 1em;
            margin-top   : 1.5em;
            margin-bottom: 0;

            @include breakpoint(xxxs) {
              font-size: 0.9em;
              margin-top: 0.5em;
            }
          }

          .call-to-action-btn {
            background: transparent;
            border: .1em solid white;
            border-radius: 0;
            color: white;
            font-size : 1.5em;
            width     : 60%;
            margin-top: 1.5em;

            @include breakpoint(xxxs) {
              font-size: 1.1em;
              width: 49%;
              margin-top: 1em;
            }

            &:hover {
              background: white;
              color: black;
            }
          }
        }
      }
    }

    .bottom {
      height: 20%;
      height: 20vh;
      width : 100%;
      margin: 0;

      .bottom-col {
        height : 100%;
        width  : 100%;
        padding: 0;

        .scroll-down-container {
          margin    : auto;
          text-align: center;
          position  : relative;
          top       : 50%;
          transform : translateY(-50%);

          .scroll-down-btn {
            opacity: 0.5;

            .fa-angle-down {
              color: white;
            }

            .icon-background {
              color: black;
            }

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
// end jumbotron

.main-container {
  padding-right: 0;
  padding-left : 0;

  #benefits-row {
    padding-top   : 2em;
    padding-bottom: 2em;

    .benefits-col {
      text-align: center;

      i {
        font-size: 7em;
      }

      h3 {
        font-size: 1.5em;
        font-weight: bold;
      }

      #new-business {
        color: #840300;
      }

      #credibility {
        color: #4285f4;
      }

      #engage {
        color: #b3a104;
      }


      #get-message-out {
        color: #00b488;
      }

    }
  }


  .difference-row {
    background : linear-gradient( rgba(12, 12, 12, 0.7), rgba(12, 12, 12, 0.7) ),
    url("../img/computer-work.png") no-repeat center center;
    background-size: 100% 100%;

    h3 {
      color: white;
    }

    p {
      color: white;
    }

    li {
      color: white;
    }
  }

  #first-impressions {
    .content {
      width : 100%;
      height: 100%;
      margin: 0 auto;

      h1 {
        height: 10%;
        margin: 0;
      }

      .video-wrapper {
        position: relative;
        height  : 90%;
        width   : 100%;
        overflow: auto;
      }

      .video {
        box-sizing     : border-box;
        background     : url("../img/computer-screen.png") center center no-repeat;
        background-size: 100% 100%;
        padding        : 2.9% 2.5% 1.8%;
        position       : absolute;
        left           : 10%;
        width          : 80%;
        height         : 90%;
        bottom         : 0;
      }
    }
  }
  // end first-impressions
  #services {
    .col-lg-12 {
      padding: 0;
      height : 100%;
    }

    .content {
      padding-left    : 3em;
      padding-right   : 3em;
      background-color: white;
      height          : 65%;

      .col-lg-6,
      .col-md-6 {
        -webkit-animation-delay: 1s;
        animation-delay        : 1s;
      }

      h1 {
        font-weight: bold;
        font-size  : 40px;
      }

      hr {
        display      : block;
        margin-top   : 1.5em;
        margin-bottom: 1.5em;
        border-style : inset;
        border-width : 1px;
      }

      .lead {
        margin-top   : 0.5em;
        margin-bottom: 1.5em;
        font-size    : 18px;
        font-weight  : bold;
      }

      .secondary {
        font-size: 13px;
      }

      button {
        margin-top: 1em;
      }

      img {
        max-height: 300px;
        min-height: 200px;
      }
      @media(max-width:720px) {
        img {
          max-height: 200px;
          min-height: 100px;
        }
      }
    }
    // end content
    .graphic {
      background-color: black;
      text-align      : center;
      height          : 35%;

      a {
        i {
          margin-top: 0.5em;
          color     : white;

          &:hover {
            -webkit-animation: bounce 1s;
            animation        : bounce 1s;
          }
        }
      }

      h2 {
        color    : white;
        font-size: 20px;
      }

      .services {
        margin-bottom: 1.5em;
      }
      @media(max-width:970px) {
        i {
          font-size: 4em;
        }

        h2 {
          font-size : 16px;
          margin-top: 15px;
        }
      }
    }
    // end graphic
  }


}



// end main-container
footer {
  background-color: black;

  .logo-row {
    margin-top   : 2.5em;
    margin-bottom: 2em;

    .logo-col {
      .logo {
        margin    : auto;
        max-width : 250px;
        min-width : 100px;
        max-height: 300px;
      }
    }
  }

  .social-media {
    margin-bottom: 1em;

    .icons {
      .icon {
        min-width : 30px;
        max-height: 75px;
        margin    : auto;
      }
    }
  }
}
