@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Exo+2:400,900");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
body,
html {
  width: 100%;
  height: 100%; }

body {
  min-height: 100%; }

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald','Helvetica Neue',Arial,sans-serif;
  font-weight: 100; }

.container-fluid {
  padding: 0; }

.row {
  margin-left: 0;
  margin-right: 0; }

.jumbo {
  width: 100%;
  height: 500px;
  margin-bottom: 0;
  padding: 0;
  overflow: auto;
  background: url("../img/earth.jpg") no-repeat center center fixed;
  background-size: cover; }
  .jumbo .container-fluid {
    padding: 0;
    height: 250px; }
    .jumbo .container-fluid .top {
      height: 30%;
      width: 100%; }
      .jumbo .container-fluid .top .logo {
        margin: auto;
        max-width: 190px;
        margin-top: 3em;
        -webkit-animation-delay: 2s;
        animation-delay: 2s; }
        @media (max-width: 480px) {
          .jumbo .container-fluid .top .logo {
            max-width: 140px;
            margin-top: 1.6em; } }
    .jumbo .container-fluid .middle {
      height: 70%;
      width: 100%;
      padding: 0;
      margin-right: 0;
      margin-left: 0; }
      .jumbo .container-fluid .middle .middle-col {
        height: 100%;
        margin-top: 0;
        padding: 0; }
        .jumbo .container-fluid .middle .middle-col h1 {
          font-family: 'Oswald';
          color: red;
          padding: 0;
          font-size: 4em;
          margin: auto;
          margin-top: 0;
          margin-bottom: 0;
          -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
          display: inline-block; }
          @media (max-width: 480px) {
            .jumbo .container-fluid .middle .middle-col h1 {
              font-size: 2em; } }
        .jumbo .container-fluid .middle .middle-col .ui-effects-wrapper {
          margin: auto !important; }

.services {
  height: 600px;
  background: white; }
  @media (min-width: 768px) and (max-width: 991px) {
    .services {
      height: 435px; } }
  @media (max-width: 480px) {
    .services {
      height: 300px; } }
  .services h1 {
    color: #C1392B;
    font-size: 3em;
    margin-top: 1.2em;
    margin-bottom: 0.3em; }
  .services .service {
    margin-top: 40px; }
    @media (min-width: 768px) and (max-width: 991px) {
      .services .service {
        margin-top: 25px;
        margin-bottom: 10px; } }
    @media (max-width: 480px) {
      .services .service {
        margin-top: 15px; } }
    .services .service i {
      font-size: 6em;
      color: #C1392B; }
      @media (max-width: 480px) {
        .services .service i {
          font-size: 4em; } }
    .services .service p {
      font-size: 2em;
      margin-top: 0.4em;
      color: #C1392B; }
      @media (max-width: 480px) {
        .services .service p {
          font-size: 1.25em; } }

.big-problems-simply {
  background: url("../img/computer-work.png") no-repeat center center fixed;
  background-size: cover;
  height: 400px; }
  .big-problems-simply .container-fluid {
    height: 100%; }
    .big-problems-simply .container-fluid .row {
      height: 100%; }
      .big-problems-simply .container-fluid .row .col-lg-6 {
        height: 100%;
        background: rgba(0, 0, 0, 0.6); }
        .big-problems-simply .container-fluid .row .col-lg-6 h1 {
          margin-top: 1em;
          color: white; }
        .big-problems-simply .container-fluid .row .col-lg-6 p {
          margin-top: 2em;
          font-size: 1em;
          font-weight: 300;
          color: white; }

.need-to-grow {
  height: 500px; }
  .need-to-grow .row {
    height: 100%; }
    .need-to-grow .row .col-lg-6 {
      height: 100%; }
      .need-to-grow .row .col-lg-6 h1 {
        margin-top: 3em;
        font-size: 4em; }
      .need-to-grow .row .col-lg-6 p {
        margin-top: 2em;
        font-size: 1.3em; }
      .need-to-grow .row .col-lg-6 .img-circle {
        width: 400px;
        height: 400px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }

.get-a-quote {
  background: #C1392B; }
  .get-a-quote h1 {
    color: white;
    margin-top: 1em; }
  .get-a-quote .get-a-quote-btn {
    background: none;
    padding: 12px 22px;
    border: 2px solid white;
    border-radius: 0;
    color: white;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    position: relative;
    left: 50%;
    transform: translateX(-50%); }
    .get-a-quote .get-a-quote-btn:hover, .get-a-quote .get-a-quote-btn:focus, .get-a-quote .get-a-quote-btn:active {
      color: gray;
      border-color: gray; }

.touch-of-madness {
  padding-right: 0;
  padding-left: 0;
  background: black;
  color: white;
  font-family: 'Oswald'; }
  .touch-of-madness #touch-of-madness {
    padding-top: 2em;
    padding-bottom: 2em; }
    .touch-of-madness #touch-of-madness p {
      font-size: 3em; }
    .touch-of-madness #touch-of-madness h1 {
      font-size: 5em; }
    .touch-of-madness #touch-of-madness img {
      max-width: 550px;
      margin: auto; }
      @media (min-width: 768px) and (max-width: 991px) {
        .touch-of-madness #touch-of-madness img {
          max-width: 200px; } }
      @media (max-width: 480px) {
        .touch-of-madness #touch-of-madness img {
          max-width: 200px; } }

.roots-in-auburn {
  width: 100%;
  height: 400px;
  margin-bottom: 0;
  padding: 0;
  overflow: auto;
  background: url("../img/roots.jpg") no-repeat center center fixed;
  background-size: cover; }
  .roots-in-auburn h1 {
    font-family: 'Kaushan Script', cursive;
    color: #FAFAFA;
    text-shadow: 2px 2px black;
    padding: 0;
    font-size: 4em; }

footer {
  background-color: black; }
  footer .logo-row {
    margin-top: 2.5em;
    margin-bottom: 2em; }
    footer .logo-row .logo-col .logo {
      margin: auto;
      max-width: 250px;
      min-width: 100px;
      max-height: 300px; }
  footer .social-media {
    margin-bottom: 1em; }
    footer .social-media .icons .icon {
      min-width: 30px;
      max-height: 75px;
      margin: auto; }

.modal-dialog {
  width: 80%;
  margin: auto; }
  .modal-dialog .form-box {
    padding-top: 40px; }
    .modal-dialog .form-box fieldset {
      display: none; }
    .modal-dialog .form-box .form-top {
      overflow: hidden;
      padding: 0 25px 15px 25px;
      background: #fff;
      -moz-border-radius: 4px 4px 0 0;
      -webkit-border-radius: 4px 4px 0 0;
      border-radius: 4px 4px 0 0;
      text-align: left; }
      .modal-dialog .form-box .form-top .form-top-left {
        float: left;
        width: 75%;
        padding-top: 25px; }
        .modal-dialog .form-box .form-top .form-top-left h3 {
          margin-top: 0; }
      .modal-dialog .form-box .form-top .form-top-right {
        float: left;
        width: 25%;
        padding-top: 5px;
        font-size: 66px;
        color: #ddd;
        line-height: 100px;
        text-align: right; }
    .modal-dialog .form-box .form-middle {
      padding-bottom: 3em; }
      .modal-dialog .form-box .form-middle textarea {
        height: 100px; }
      .modal-dialog .form-box .form-middle .input-error {
        border-color: #19b9e7; }
    .modal-dialog .form-box .form-bottom {
      padding: 25px 25px 30px 25px;
      background: #eee;
      -moz-border-radius: 0 0 4px 4px;
      -webkit-border-radius: 0 0 4px 4px;
      border-radius: 0 0 4px 4px;
      text-align: left; }
      .modal-dialog .form-box .form-bottom button {
        min-width: 105px; }
  .modal-dialog .describe-yourself .btn-default .fa-circle {
    color: blue; }
  .modal-dialog .describe-yourself .btn-default .fa-briefcase {
    color: black; }
  .modal-dialog .describe-yourself .btn-default .fa-user {
    color: white; }
  .modal-dialog .describe-yourself .btn-default .fa-heart {
    color: red; }
  .modal-dialog .how-can-we-help .btn-default .fa-circle {
    color: blue; }
