@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Exo+2:400,900");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
body,
html {
  width: 100%;
  height: 100%; }

body {
  min-height: 100%; }

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue','Helvetica Neue',Arial,sans-serif;
  font-weight: 100; }

/* Custom Button Styles */
.btn-dark {
  border-radius: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4); }

.btn-dark:active,
.btn-dark:focus,
.btn-dark:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7); }

.btn-light {
  border-radius: 0;
  color: #333;
  background-color: white; }

.btn-light:active,
.btn-light:focus,
.btn-light:hover {
  color: #333;
  background-color: rgba(255, 255, 255, 0.8); }

/* Custom Horizontal Rule */
hr.small {
  max-width: 100px; }

.jumbo {
  width: 100%;
  height: 500px;
  margin-bottom: 0;
  padding: 0;
  overflow: auto;
  background: url("../img/space.jpg") no-repeat center center fixed;
  background-size: cover; }
  .jumbo .container-fluid {
    padding: 0;
    height: 400px; }
    .jumbo .container-fluid .top {
      height: 20%;
      height: 20%;
      width: 100%; }
      .jumbo .container-fluid .top .logo {
        margin: auto;
        max-width: 190px;
        margin-top: 3em;
        -webkit-animation-delay: 2s;
        animation-delay: 2s; }
        @media (max-width: 480px) {
          .jumbo .container-fluid .top .logo {
            max-width: 140px;
            margin-top: 1.6em; } }
    .jumbo .container-fluid .middle {
      height: 60%;
      width: 100%;
      padding: 0;
      margin-right: 0;
      margin-left: 0; }
      .jumbo .container-fluid .middle .middle-col {
        height: 100%;
        margin-top: 0;
        padding: 0; }
        .jumbo .container-fluid .middle .middle-col h1 {
          font-family: 'Kaushan Script', cursive;
          color: #FAFAFA;
          text-shadow: 2px 2px black;
          padding: 0;
          font-size: 4em;
          margin-top: 0;
          margin-bottom: 0;
          -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
          position: relative;
          top: 50%;
          transform: translateY(-50%); }
          @media (max-width: 480px) {
            .jumbo .container-fluid .middle .middle-col h1 {
              font-size: 2em; } }
    .jumbo .container-fluid .bottom {
      height: 20%;
      width: 100%;
      margin: 0; }
      .jumbo .container-fluid .bottom .bottom-col {
        height: 100%;
        width: 100%;
        padding: 0; }
        .jumbo .container-fluid .bottom .bottom-col .scroll-down-container {
          margin: auto;
          text-align: center;
          position: relative;
          top: 50%;
          transform: translateY(-50%); }
          .jumbo .container-fluid .bottom .bottom-col .scroll-down-container .scroll-down-btn {
            opacity: 0.5; }
            .jumbo .container-fluid .bottom .bottom-col .scroll-down-container .scroll-down-btn .fa-angle-down {
              color: white; }
            .jumbo .container-fluid .bottom .bottom-col .scroll-down-container .scroll-down-btn .icon-background {
              color: black; }
            .jumbo .container-fluid .bottom .bottom-col .scroll-down-container .scroll-down-btn:hover {
              opacity: 1; }

.touch-of-madness {
  padding-right: 0;
  padding-left: 0; }
  .touch-of-madness #touch-of-madness p {
    font-size: 3em; }
  .touch-of-madness #touch-of-madness h1 {
    font-size: 5em; }
  .touch-of-madness #touch-of-madness img {
    max-width: 550px;
    margin: auto; }
    @media (min-width: 768px) and (max-width: 991px) {
      .touch-of-madness #touch-of-madness img {
        max-width: 200px; } }

.roots-in-auburn {
  width: 100%;
  height: 400px;
  margin-bottom: 0;
  padding: 0;
  overflow: auto;
  background: url("../img/roots.jpg") no-repeat center center fixed;
  background-size: cover; }
  .roots-in-auburn h1 {
    font-family: 'Kaushan Script', cursive;
    color: #FAFAFA;
    text-shadow: 2px 2px black;
    padding: 0;
    font-size: 4em; }

.need-to-grow {
  height: 300px; }
  .need-to-grow .container-fluid {
    padding: 0; }
  .need-to-grow .row {
    margin: 0; }
  .need-to-grow h1 {
    font-size: 3em;
    color: black;
    font-weight: bold;
    margin-bottom: .5em; }
  .need-to-grow h2 {
    font-size: 2.5em;
    color: black;
    font-weight: bold;
    margin-bottom: .5em; }
  .need-to-grow p {
    font-size: 1.5em;
    text-align: left;
    margin-right: 2em;
    margin-left: 2em; }

.services {
  height: 300px;
  background: #C1392B; }
  .services .container-fluid {
    padding: 0; }
  .services .btn-primary {
    background: none;
    padding: 12px 22px;
    border: 2px solid white;
    border-radius: 0;
    color: white;
    margin-top: 1.5em; }
    .services .btn-primary:hover, .services .btn-primary:focus, .services .btn-primary:active {
      color: gray;
      border-color: gray; }
  .services i {
    font-size: 6em;
    color: white; }
  .services p {
    font-size: 2em;
    color: white; }

footer {
  background-color: black; }
  footer .logo-row {
    margin-top: 2.5em;
    margin-bottom: 2em; }
    footer .logo-row .logo-col .logo {
      margin: auto;
      max-width: 250px;
      min-width: 100px;
      max-height: 300px; }
  footer .social-media {
    margin-bottom: 1em; }
    footer .social-media .icons .icon {
      min-width: 30px;
      max-height: 75px;
      margin: auto; }
