/* line 1, ../sass/homepage.scss */
body,
html {
  width: 100%;
  height: 100%;
}

/* line 7, ../sass/homepage.scss */
body {
  min-height: 100%;
}

/* line 11, ../sass/homepage.scss */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  font-weight: 100;
}

/* Custom Button Styles */
/* line 25, ../sass/homepage.scss */
.btn-dark {
  border-radius: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 31, ../sass/homepage.scss */
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

/* line 38, ../sass/homepage.scss */
.btn-light {
  border-radius: 0;
  color: #333;
  background-color: white;
}

/* line 44, ../sass/homepage.scss */
.btn-light:hover,
.btn-light:focus,
.btn-light:active {
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
}

/* Custom Horizontal Rule */
/* line 53, ../sass/homepage.scss */
hr.small {
  max-width: 100px;
}

/* Side Menu */
/* line 59, ../sass/homepage.scss */
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: 0;
  width: 250px;
  height: 100%;
  margin-right: -250px;
  overflow-y: auto;
  background: #222;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
/* line 74, ../sass/homepage.scss */
#sidebar-wrapper .sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 82, ../sass/homepage.scss */
#sidebar-wrapper .sidebar-nav .sidebar-brand {
  height: 55px;
  font-size: 18px;
  line-height: 55px;
}
/* line 87, ../sass/homepage.scss */
#sidebar-wrapper .sidebar-nav .sidebar-brand a {
  color: #999;
}
/* line 90, ../sass/homepage.scss */
#sidebar-wrapper .sidebar-nav .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
/* line 97, ../sass/homepage.scss */
#sidebar-wrapper .sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
/* line 101, ../sass/homepage.scss */
#sidebar-wrapper .sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999;
}
/* line 106, ../sass/homepage.scss */
#sidebar-wrapper .sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
/* line 112, ../sass/homepage.scss */
#sidebar-wrapper .sidebar-nav li a:active, #sidebar-wrapper .sidebar-nav li a:focus {
  text-decoration: none;
}

/* line 121, ../sass/homepage.scss */
#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

/* line 131, ../sass/homepage.scss */
#menu-toggle {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

/* line 142, ../sass/homepage.scss */
.toggle {
  margin: 5px 5px 0 0;
}

/* line 147, ../sass/homepage.scss */
.jumbotron {
  height: 100vh;
  background: linear-gradient(rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.3)), url(../dependents/img/record.gif) no-repeat center center;
  background-size: 100% 100%;
  padding: 0;
  margin-bottom: 0;
}
/* line 159, ../sass/homepage.scss */
.jumbotron .logo {
  max-width: 160px;
  margin: auto;
  margin-top: 20px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
/* line 167, ../sass/homepage.scss */
.jumbotron .jumbotron-header {
  margin-top: 8em;
  margin-bottom: 8em;
  margin-left: 3em;
}
/* line 175, ../sass/homepage.scss */
.jumbotron .jumbotron-header h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  color: #FAFAFA;
  text-shadow: 2px 2px black;
  padding: .1em;
}
/* line 183, ../sass/homepage.scss */
.jumbotron .jumbotron-header h1:first-child {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}
/* line 188, ../sass/homepage.scss */
.jumbotron .jumbotron-header h1:nth-child(2) {
  -webkit-animation-delay: 10s;
  animation-delay: 1s;
}
/* line 193, ../sass/homepage.scss */
.jumbotron .jumbotron-header h1:nth-child(3) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
@media (max-width: 770px) {
  /* line 202, ../sass/homepage.scss */
  .jumbotron .jumbotron-header {
    margin-top: 10em;
    margin-bottom: 13em;
    margin-left: 1em;
  }
  /* line 207, ../sass/homepage.scss */
  .jumbotron .jumbotron-header h1 {
    font-size: 45px;
  }
}
@media (max-width: 590px) {
  /* line 215, ../sass/homepage.scss */
  .jumbotron .logo {
    max-width: 130px;
  }
  /* line 221, ../sass/homepage.scss */
  .jumbotron .jumbotron-header h1 {
    font-size: 40px;
  }
}
@media (max-width: 450px) {
  /* line 229, ../sass/homepage.scss */
  .jumbotron .jumbotron-header {
    margin-left: 0;
  }
  /* line 232, ../sass/homepage.scss */
  .jumbotron .jumbotron-header h1 {
    font-size: 30px;
  }
}

/* line 240, ../sass/homepage.scss */
.main-container {
  padding-right: 0px;
  padding-left: 0px;
}
/* line 244, ../sass/homepage.scss */
.main-container .row {
  margin-right: 0;
  margin-left: 0;
}
/* line 256, ../sass/homepage.scss */
.main-container #bring-to-the-future .content h1 {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
}
/* line 262, ../sass/homepage.scss */
.main-container #bring-to-the-future .content li {
  display: inline;
}
/* line 271, ../sass/homepage.scss */
.main-container #first-impressions .video-wrapper {
  height: 90vh;
  width: 90%;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40.5px;
  padding-left: 3.5px;
  background: url(../dependents/img/computer-screen.png) no-repeat center center;
  background-size: 100% 100%;
}
/* line 283, ../sass/homepage.scss */
.main-container #first-impressions .video-js {
  min-width: 92.75%;
  min-height: 90%;
  margin: auto;
}
/* line 291, ../sass/homepage.scss */
.main-container #first-impressions .auto-type .desktop {
  padding: 0;
  padding-left: 3em;
  padding-right: 3em;
}
/* line 296, ../sass/homepage.scss */
.main-container #first-impressions .auto-type .desktop h2 {
  color: white;
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: 35px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}
/* line 305, ../sass/homepage.scss */
.main-container #first-impressions .auto-type .desktop .computer {
  max-width: 550px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
/* line 311, ../sass/homepage.scss */
.main-container #first-impressions .auto-type .desktop .computer .computer-screen {
  position: absolute;
}
/* line 315, ../sass/homepage.scss */
.main-container #first-impressions .auto-type .desktop .computer .google-content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  max-width: 500px;
}
/* line 323, ../sass/homepage.scss */
.main-container #first-impressions .auto-type .desktop .computer .google-content img {
  position: absolute;
  max-width: 100%;
  margin-top: 35px;
}
/* line 329, ../sass/homepage.scss */
.main-container #first-impressions .auto-type .desktop .computer .google-content .typed-text[disabled] {
  cursor: auto;
  background-color: white;
  width: 70%;
  height: 20px;
  font-size: 16px;
  border-color: lightblue;
  position: absolute;
  margin-top: 157px;
}
@media (max-width: 700px) {
  /* line 343, ../sass/homepage.scss */
  .main-container #first-impressions .auto-type .desktop .computer {
    max-width: 500px;
    margin-top: 30px;
  }
  /* line 348, ../sass/homepage.scss */
  .main-container #first-impressions .auto-type .desktop .computer .google-content {
    max-width: 415px;
    margin-top: 25px;
  }
  /* line 352, ../sass/homepage.scss */
  .main-container #first-impressions .auto-type .desktop .computer .google-content img {
    margin-top: 25px;
  }
}
/* line 362, ../sass/homepage.scss */
.main-container #first-impressions .auto-type .mobile {
  padding: 0;
  padding-left: 3em;
  padding-right: 3em;
}
/* line 367, ../sass/homepage.scss */
.main-container #first-impressions .auto-type .mobile h2 {
  color: white;
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: 35px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}
/* line 376, ../sass/homepage.scss */
.main-container #first-impressions .auto-type .mobile .iphone {
  max-width: 200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
/* line 382, ../sass/homepage.scss */
.main-container #first-impressions .auto-type .mobile .iphone .iphone-screen {
  position: absolute;
}
/* line 386, ../sass/homepage.scss */
.main-container #first-impressions .auto-type .mobile .iphone .google-content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 49px;
  max-width: 176px;
}
/* line 394, ../sass/homepage.scss */
.main-container #first-impressions .auto-type .mobile .iphone .google-content img {
  position: absolute;
  max-width: 100%;
  margin-top: 49px;
}
/* line 400, ../sass/homepage.scss */
.main-container #first-impressions .auto-type .mobile .iphone .google-content .typed-text[disabled] {
  cursor: auto;
  background-color: white;
  width: 90%;
  height: 20px;
  font-size: 13px;
  border-color: lightblue;
  position: absolute;
  margin-top: 130px;
}
/* line 420, ../sass/homepage.scss */
.main-container #services .col-lg-12 {
  padding: 0;
  height: 100%;
}
/* line 425, ../sass/homepage.scss */
.main-container #services .content {
  padding-left: 3em;
  padding-right: 3em;
  background-color: white;
  height: 65%;
}
/* line 431, ../sass/homepage.scss */
.main-container #services .content .col-lg-6,
.main-container #services .content .col-md-6 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
/* line 437, ../sass/homepage.scss */
.main-container #services .content h1 {
  font-weight: bold;
  font-size: 40px;
}
/* line 442, ../sass/homepage.scss */
.main-container #services .content hr {
  display: block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-style: inset;
  border-width: 1px;
}
/* line 450, ../sass/homepage.scss */
.main-container #services .content .lead {
  margin-top: .5em;
  margin-bottom: 1.5em;
  font-size: 18px;
  font-weight: bold;
}
/* line 457, ../sass/homepage.scss */
.main-container #services .content .secondary {
  font-size: 13px;
}
/* line 461, ../sass/homepage.scss */
.main-container #services .content button {
  margin-top: 1em;
}
/* line 465, ../sass/homepage.scss */
.main-container #services .content img {
  max-height: 300px;
  min-height: 200px;
}
@media (max-width: 720px) {
  /* line 472, ../sass/homepage.scss */
  .main-container #services .content img {
    max-height: 200px;
    min-height: 100px;
  }
}
/* line 479, ../sass/homepage.scss */
.main-container #services .graphic {
  background-color: black;
  text-align: center;
  height: 35%;
}
/* line 486, ../sass/homepage.scss */
.main-container #services .graphic a i {
  margin-top: .5em;
  color: white;
}
/* line 490, ../sass/homepage.scss */
.main-container #services .graphic a i:hover {
  -webkit-animation: bounce 1s;
  animation: bounce 1s;
}
/* line 497, ../sass/homepage.scss */
.main-container #services .graphic h2 {
  color: white;
  font-size: 20px;
}
/* line 502, ../sass/homepage.scss */
.main-container #services .graphic .services {
  margin-bottom: 1.5em;
}
@media (max-width: 970px) {
  /* line 508, ../sass/homepage.scss */
  .main-container #services .graphic i {
    font-size: 4em;
  }
  /* line 512, ../sass/homepage.scss */
  .main-container #services .graphic h2 {
    font-size: 16px;
    margin-top: 15px;
  }
}
/* line 522, ../sass/homepage.scss */
.main-container #section-three {
  padding-left: 3em;
  padding-right: 3em;
  background-color: #FAFAFA;
}
/* line 527, ../sass/homepage.scss */
.main-container #section-three .col-lg-6,
.main-container #section-three .col-md-6 {
  margin-top: 4em;
  margin-bottom: 4em;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
/* line 535, ../sass/homepage.scss */
.main-container #section-three h1 {
  font-weight: bold;
  font-size: 40px;
}
/* line 540, ../sass/homepage.scss */
.main-container #section-three hr {
  display: block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-style: inset;
  border-width: 1px;
}
/* line 548, ../sass/homepage.scss */
.main-container #section-three .lead {
  margin-top: .5em;
  margin-bottom: 1.5em;
  font-size: 18px;
  font-weight: bold;
}
/* line 555, ../sass/homepage.scss */
.main-container #section-three .secondary {
  font-size: 13px;
}
/* line 559, ../sass/homepage.scss */
.main-container #section-three button {
  margin-top: 1em;
}
/* line 563, ../sass/homepage.scss */
.main-container #section-three img {
  max-height: 300px;
  min-height: 200px;
}
@media (max-width: 720px) {
  /* line 570, ../sass/homepage.scss */
  .main-container #section-three img {
    max-height: 200px;
    min-height: 100px;
  }
}
/* line 579, ../sass/homepage.scss */
.main-container #section-four {
  padding-left: 3em;
  padding-right: 3em;
  background-color: white;
}
/* line 584, ../sass/homepage.scss */
.main-container #section-four .col-lg-6,
.main-container #section-four .col-md-6 {
  margin-top: 4em;
  margin-bottom: 4em;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
/* line 592, ../sass/homepage.scss */
.main-container #section-four h1 {
  font-weight: bold;
  font-size: 40px;
}
/* line 597, ../sass/homepage.scss */
.main-container #section-four hr {
  display: block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-style: inset;
  border-width: 1px;
}
/* line 605, ../sass/homepage.scss */
.main-container #section-four .lead {
  margin-top: .5em;
  margin-bottom: 1.5em;
  font-size: 18px;
  font-weight: bold;
}
/* line 612, ../sass/homepage.scss */
.main-container #section-four .secondary {
  font-size: 13px;
}
/* line 616, ../sass/homepage.scss */
.main-container #section-four button {
  margin-top: 1em;
}
/* line 620, ../sass/homepage.scss */
.main-container #section-four img {
  max-height: 300px;
  min-height: 200px;
}
@media (max-width: 720px) {
  /* line 627, ../sass/homepage.scss */
  .main-container #section-four img {
    max-height: 200px;
    min-height: 100px;
  }
}
/* line 639, ../sass/homepage.scss */
.main-container #section-five p {
  font-style: italic;
}
/* line 643, ../sass/homepage.scss */
.main-container #section-five .items {
  margin-bottom: 2em;
}

/* line 653, ../sass/homepage.scss */
footer {
  background-color: black;
}
/* line 656, ../sass/homepage.scss */
footer .logo-row {
  margin-top: 2.5em;
  margin-bottom: 2em;
}
/* line 662, ../sass/homepage.scss */
footer .logo-row .logo-col .logo {
  margin: auto;
  max-width: 250px;
  min-width: 100px;
  max-height: 300px;
}
/* line 672, ../sass/homepage.scss */
footer .social-media {
  margin-bottom: 1em;
}
/* line 677, ../sass/homepage.scss */
footer .social-media .icons .icon {
  min-width: 30px;
  max-height: 75px;
  margin: auto;
}
